<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS3/estilos.css">
    <link rel="stylesheet" href="../CSS3/normalize.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <title>Nosotros</title>
</head>
<body>

    <header>

        <div class="headerglobal">

            <div class="headerglobal__logo">
                <img src="../MEDIA/coventinalogo.jpg" alt="" srcset="">
            </div>

            <div class="headerglobal__enlaces">
                <a href="index.html">Inicio</a>
                <a href="productos.html">Productos</a>
                <a href="nosotros.html">Nosotros</a>
                <a href="contactame.html">Contactame</a>
                <a href=""><i class="fa-solid fa-user"></i></a>
            </div>

        </div>

    </header>

    <main>

        <h2 class="nosotrosdiv__sobre">Sobre Coventina</h2>


        <div class="nosotrosdiv">
            <div class="nosotroosdiv__video">
                <!-- <img src="../MEDIA/headerimg.jpg" alt=""> -->
                <video autoplay muted loop src="../MEDIA/20180212_1326552.mp4"></video>
            </div>

            <div class="nosotrosdiv__derecha">

                <div class="nosotrosdiv__derecha-p">
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate debitis</p>
                </div>
                
                <h3>Lorem ipsum dolor sit amet Cupiditate debitis error consequatur saepe</h3>

                <div class="nosotrosdiv__derecha-texto">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsa ipsam veniam saepe reprehenderit quam hic quas, consequatur at officia mollitia quae voluptatum dolorem corporis incidunt voluptatem. Numquam ullam fuga blanditiis.</p>
                </div>

            </div>


        </div>

        
        <div class="nosotrosdiv__sobre"><h2>Algunos de nuestros trabajos con clientes</h2></div>


        <div class="carruselnosotros">
            <div id="carouselExampleFade" class="carousel slide carousel-fade">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img srcset="https://images.unsplash.com/photo-1548780607-46c78f38182d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1473&q=80" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img srcset="https://images.unsplash.com/photo-1578704410892-86dbdab9b4e8?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1631&q=80" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img srcset="https://images.unsplash.com/photo-1600679472233-eabc13b79f07?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80" class="d-block w-100" alt="...">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
        </div>

        <div class="rrss">

            <div class="rrss__titulo">
                <p> - Siguenos en nuestras redes sociales - </p>
            </div>

            <div class="rrss__i">
                <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                <a href="#"><i class="fa-brands fa-whatsapp"></i></a>

            </div>
        </div>


    </main>

    <footer>
        <div class="footerdiv">
            <p>Desde 2023. Coventina © Todos los Derechos Reservados.</p>
        </div>
    </footer>
    


    <script src="https://kit.fontawesome.com/f3c7ddda4d.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>